body {
    background-color: indianred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}